
@media only screen and (max-width:991px) {
    .site-logo {
        color: #fff;
        font-size: 25px;
        width: auto;
        margin: 5px auto
    }

    .hmb {
        width: 45px;
        height: 40px;
        top: 5px;
        position: relative;
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer
    }

    .hmb span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: #fff;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out
    }

    .hmb span:nth-child(1) {
        top: 0
    }

    .hmb span:nth-child(2),
    .hmb span:nth-child(3) {
        top: 12px
    }

    .hmb span:nth-child(4) {
        top: 24px
    }

    .hmb.open span:nth-child(1) {
        top: 18px;
        width: 0%;
        left: 50%
    }

    .hmb.open span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg)
    }

    .hmb.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 13px
    }

    .hmb.open span:nth-child(4) {
        top: 18px;
        width: 0%;
        left: 50%
    }

    .mob-menu {
        position: absolute;
        z-index: 10;
        top: 5px;
        right: 0;
        width: 55px;
        height: 50px;
        overflow: hidden
    }

    .menu {
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        top: 45px;
        left: 0
    }

    .menu ul {
        background: #8f1414
    }

    .menu ul li {
        display: block
    }

    .menu ul li a {
        line-height: 45px
    }

    main {
        margin-top: 48px
    }

    .raorba-logo {
        width: 200px;
    }

    .intro h1 {
        font-size: 30px
    }

    .conf-img {
        width: 36%
    }

    .easy-chair {
        padding-left: 0
    }

    .easy-chair h3 {
        font-size: 25px
    }
}